@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap');
body { 
    background: rgb(174, 181, 185);
    color: #333333;
    font-size: 1.25rem;
    font-family: 'Lora', serif;
}

/* for menu bar*/
nav ul li {
    display: inline;
    border: 1px solid rgba(209, 206, 196, 0.767);
    border-radius: 10px;
    padding: 10px;
    list-style-type: disc;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color:  rgba(209, 206, 196, 0.767);
}
  .color {
    color: white;
}
  .addrightmargin {
	margin-right: 10%;
  }
  img {
	float: left;
	border-radius: 150px;
}
footer {
 
  
    font-size: .75em;
    text-align: left;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-left: 100px;
    padding-top: 450px;
   
}