@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

header {
    background-color: #A8D6EB;
    font-family: 'Anton', sans-serif;
}
h2 {
    font-size: 1.5em;
}
#value {
    background-color: #AEF0CC;
}
#example {
    background-color: #E3ADB9;
}
.a {
    text-decoration-line: none
}
.b {
    text-decoration-line: underline;
}
.c {
    text-decoration: overline;
}
.d {
    text-decoration: line-through;
}
