/* Nazifa Bakhshi
09/26/2023 */
b {
  background-color: #b1b1c0;
}
header {
    font-size: 25px;
}
p {
    font-size: 20px;
}
address {
    display: brown;
    font-style: italic;
  }
  /* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: purple;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
  }
  
  /* selected link */
  a:active {
    color: green;
  }