/* Nazifa Bakhshi
09/26/2023 */
b {
    background-color: #b1b1c0;
}

header {
    font-size: 30px;
}
p {
    font-size: 20px;
}
address {
    display: brown;
    font-style: italic;
  }
